# Ignore workspace files

.workspace
.vscode

# Hide private and dev folders

.dev
.dev/*
.private
.hidden
.hide
.test
.test/*
test
test/
test/*
.demo
.demo/*
demo
demo/
demo/*
old
old/
old/*
old.*

# Hide node folders

.npm
.node
.nodejs
node_modules/
npm/
nodejs/
node/