# Ignore workspace files

.workspace

# Hide private and dev folders

.dev
.dev/*
.private
.hidden
.hide
.test
.test/*
test
test/
test/*
.demo
.demo/*
demo
demo/
demo/*

# Hide node folders

.npm
.node
.nodejs
node_modules/
npm/
nodejs/
node/